<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<header>
    <% include ./_partials/_header %>
</header>
<body> 
<ul>
    <% for(each in urls) { %>
      
      <li>
        <%= `${each}` %> :
        <a href=<%= `${urls[each]}` %>> <%= `${urls[each]}` %></a>

        <form method="GET" action=<%= `/urls/${each}/edit`%>>
        <button type="submit" name='edit'>Edit</button>
        </form>
        <form method="POST" action=<%= `/urls/${each}/delete`%>>
        <button type='submit' name='delete'>Delete</button>
      </form>

      </li>
      
  <% }; %>
  
</ul>
</body>
</html>
